@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@100&display=swap');

body {
    font-family: 'Permanent Marker', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    background-color: #e7e7e7;
    color: #e7e7e7;
    margin: 0;
}

/* headings and logo */

h1, h2 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: black;
}

#logo {
    font-size: 2rem;
    letter-spacing: 4px;
    color: #e7e7e7;
    text-decoration: none;
}

/* navigation links */

#menu {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'raleway', sans-serif;
    margin: 0;
}

#menu,
#logo {
    line-height: 40px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #FACF39;
}

.active {
    border-bottom: 2px solid #FACF39;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding-left: 2rem;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: black;
}

#logo {
    font-size: 2rem;
    letter-spacing: 4px;
    color: #e7e7e7;
    text-decoration: none;
}

/* home page background */
.background-image {
    background-image: url(../images/background-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* footers */
.home-page-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.home-page-footer>.social-media i {
    font-size: 120%;
    color: #e7e7e7;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
}

.social-media>li {
    display: inline;

}

.social-media i {
    font-size: 120%;
    width: 40px;
    height: 40px;
    color: black;
}

.social-media i:hover {
    color: #FACF39;
}

/* CTA learn more button */

.learn-button-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: flex-end;
    position: absolute;
    right: 11%;
    top: 30%;
}

.learn-more-button {
    border: 1px solid #e7e7e7;
    font-size: 1em;
    border-radius: 10px;
    padding: 0.5em 1em;
    color: #e7e7e7;
    font-weight: bolder;
    text-decoration: none;
}

.learn-more-button:hover {
    border: 1px solid black;
    color: black;
    font-weight: bolder;
}

.quote {
    text-align: right;
    color: #e7e7e7;
}

/* about us */
.about-us {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    color: black;
    font-weight: bolder;
    font-size: medium;
    letter-spacing: 2px;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 20%;
    padding: 2%;
    border-radius: 10px;
    height: 351px;
    background-color: #cdcdcd;
}

.card>h3 {
    font-size: 170%;
}

/* CTA book now button */
.button-wrapper {
    margin-top: 5%;
    display: block;
    text-align: center;
}

.book-now-button {
    font-size: 1em;
    border-radius: 10px;
    padding: 0.5em 1em;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    box-shadow: inset 0px -1px 8px rgb(0 0 0 / 20%);
    background-color: #cdcdcd;
}

.book-now-button:hover {
    border: 1px solid #e7e7e7;
    background-color: black;
    color: #e7e7e7;
    font-weight: bolder;
}

/* gallery */
#images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    padding: 0 2%;
}

.gallery-card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 20%;
    padding: 2%;
    border-radius: 10px;
    background-color: #cdcdcd;
}