@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@100&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: 'Permanent Marker', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    background-color: #e7e7e7;
    color: #e7e7e7;
    margin: 0;
}

/* headings and logo */

h1, h2 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: black;
}

#logo {
    font-size: 2rem;
    letter-spacing: 4px;
    color: #e7e7e7;
    text-decoration: none;
}

/* navigation links */

#menu {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'raleway', sans-serif;
    margin: 0;
}

#menu,
#logo {
    line-height: 40px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #FACF39;
}

.active {
    border-bottom: 2px solid #FACF39;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding-left: 2rem;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: black;
}

#logo {
    font-size: 2rem;
    letter-spacing: 4px;
    color: #e7e7e7;
    text-decoration: none;
}

/* home page background */
.background-image {
    background-image: url(../images/background-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* footers */
.home-page-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.home-page-footer>.social-media i {
    font-size: 120%;
    color: #e7e7e7;
}

.gallery-footer {
position: relative;
width: 100%;
bottom: 0;
}

.bookings-footer {
    osition: absolute;
    width: 100%;
    bottom: 0;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
}

.social-media>li {
    display: inline;

}

.social-media i {
    font-size: 120%;
    width: 40px;
    height: 40px;
    color: black;
}

.social-media i:hover {
    color: #FACF39;
}

/* CTA learn more button */

.learn-button-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: flex-end;
    position: absolute;
    right: 11%;
    top: 30%;
}

.learn-more-button {
    border: 1px solid #e7e7e7;
    font-size: 1em;
    border-radius: 10px;
    padding: 0.5em 1em;
    color: #e7e7e7;
    font-weight: bolder;
    text-decoration: none;
}

.learn-more-button:hover {
    border: 1px solid black;
    color: black;
    font-weight: bolder;
}

.quote {
    text-align: right;
    color: #e7e7e7;
}

/* about us */
.about-us {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    color: black;
    font-weight: bolder;
    font-size: medium;
    letter-spacing: 2px;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 20%;
    padding: 2%;
    border-radius: 10px;
    height: 351px;
    background-color: #cdcdcd;
}

.card>h3 {
    font-size: 170%;
}

/* gallery */
#images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    padding: 0 2%;
}

.gallery-card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 75%;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    background-color: #cdcdcd;
}

/* session times */
.sessions-container-box {
    display: flex;
    background: #e7e7e7;
    padding: 2%;
    justify-content: space-evenly;
}

.sessions-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4%;
}

.session-column {
    color: black;
}

.session-column>h3 {
    font-size: 125%;
    color: black;
    font-weight: bolder;
    width: max-content;
}

.session-column>ul {
    list-style-type: none;
    padding: 0;
    font-weight: 600;
    font-size: 90%;
}

/* bookings page contact information */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}

.contact-card {
     box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 20%;
    padding: 2%;
    border-radius: 10px;
    background-color: #cdcdcd;
    height: fit-content;
    margin-top: 10%;
}

.phone-contact>h1 {
    text-decoration: none;
}

.phone-contact>h4 {
    color: black;
}

.mail-contact>h1 {
    text-decoration: none;
}

.mail-contact>h4 {
    color: black;
}

/* form section bookings page */
.bookings-container-box {
    display: flex;
    background: #e7e7e7;
    justify-content: space-evenly;
}

h1 {
    text-decoration-line: underline;
    color: black;
    text-align: center;
}

#booking-form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-top: 1em;
    color: black;
    font-weight: bolder;
    margin-bottom: 2%;
}

input {
    padding: 0 5%;
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: #e7e7e7;
    color: black;
    font-weight: bolder;
}

#agegroup {
    padding: 0 5%;
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: #e7e7e7;
    color: black;
    font-weight: bolder;
}

#inquiry {
    padding: 0 5%;
    height: 150px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: #e7e7e7;
    color: black;
    font-weight: bolder;
}

#submit-button {
    background-color: #e7e7e7;
    color: black;
    font-weight: bolder;
    width: 200px;
    margin-left: 30%;
}

#submit-button:hover {
    border: 1px solid #e7e7e7;
    background-color: black;
    color: #e7e7e7 !important;
    font-weight: bolder;
}

/* container box*/
.container-box {
    display: flex;
    background: #e7e7e7;
    padding: 2%;
    justify-content: space-evenly;
}

/* Thank You */
.thank-you-content {
 text-align: center;
 position: absolute;
 top: 30%;
 width: 100%;  
 color: black;
 font-weight: bolder; 
}

.thank-you-content>h1 {
    text-decoration: none;
}

/* CTA book now button */
.button-wrapper {
    display: block;
    text-align: center;
}

.gallery-button-wrapper {
    display: block;
    text-align: center;
}

.sessions-button-wrapper {
    display: block;
    text-align: center;
}

.book-now-button {
    font-size: 1em;
    border-radius: 10px;
    padding: 0.5em 1em;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    box-shadow: inset 0px -1px 8px rgb(0 0 0 / 20%);
    background-color: #cdcdcd;
}

.book-now-button:hover {
    border: 1px solid #e7e7e7;
    background-color: black;
    color: #e7e7e7;
    font-weight: bolder;
}

/* For large to medium screens sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    .learn-button-wrapper {
        margin-left: 70%;
        padding: 3%;
    }

    .learn-more-button {
        font-size: 0.6em;
    }

    .card {
        height: 394.06;
        font-size: 14px;
        width: 25%;
    }

    .button-wrapper {
        margin-top: 70px;
    }

    .book-now-button {
        font-size: 16px;
    }

    .gallery-button-wrapper {
        margin-top: -15px;
    }

    .gallery-footer {
        margin-top: 40px;
    }

    .session-column{
        font-size: 17px;
    }

    #embed-map {
        width: 660px;
        height: 300px;
        margin-left: 60px;
}

.sessions-container-box {
        display: grid;
        grid-template-columns: auto;
    }

    .sessions-container {
        margin-top: -10px;
        padding-bottom: 10px;
        margin-left: 110px;
        text-align: center;
    }

    .sessions-button-wrapper {
        margin-top: -7px;
    }

    .bookings-container-box {
        display: flex;
        flex-direction: column-reverse;
        
    }

    #booking-form{
        width: 325px;
        margin: 0 auto;
    }

    #submit-button {
       margin: 0 auto;
    }

    .contact-card {
        width: fit-content;
        margin: 0 auto;
        margin-top: 15px;
    }

    .bookings-footer {
        position: relative;
        float: none;
        margin-bottom: 10px;
    }
}

/* For large to medium screens sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    header {
        font-size: 12px;
        flex-direction: column;
    }

    .learn-button-wrapper {
        font-size: 20px;
    }

    .card {
        height: 400px;
    }

    .card>h3 {
        font-size: 13px;
    }

    .sessions-container-box {
        margin-left: -55px;
    }

    .thank-you-content {
        font-size: large;
    }
}

/* For small screens sizes from 750px wide and down */

@media screen and (max-width: 750px){
    .background-image {
    background-image: url(/assets/images/background-image-750.jpg);
    }

    .quote{
        display: none;
    }
    
    .learn-more-button {
        display: none;
    }

    .home-page-footer {
        display: block;
       position: absolute;
       width: 100%;
       bottom: 0;
    }

    .home-page-footer>.social-media i {
        color: black;
    }

    .card i {
        display: none;
    }
}
    
